@charset "utf-8";
/* CSS Document */
body{margin:0px; padding:0px; text-align:center;}
#head{ margin:0px auto; background-color:#f2f2f2; height:30px; width:100%; border-bottom: 1px ridge #f2f2f2;}
#head ul{
	margin:0px;
	padding:0px;
	line-height:27px;
	list-style:none;
	float:right;
	font-family:"黑体";
	}
#head ul li{display:inline;}
#head ul li a{
	color:#666666;
	font-size:14px;
	text-decoration:none;
	}
#head ul li a:hover{color:#0CF;}
#serach_and_logo{ margin:0px auto; height:147px; width:1100px;}
#left_logo{ float:left;width:300px;height:145px; }
#search{ float:left; width:500px; height:145px; }
#search_input{ margin-left:20px; margin-top:30px; padding:0px; height:25px;}
#search_btn input{ background:#222; color:#FFF;}
#search_type{ border:1px solid #90F; display:inline-block; width:50px;}
#search_nevigate{ width:450; margin-top:5px; text-align:center;}
#search_nevigate a{ font-family:"黑体"; text-decoration:none; color:#CCC; width:12%; display:inline-block;}
#search_nevigate a:hover{color:#0CF;}
#right_logo{ float:left; width:270px; height:145px;}
#bottom_nevigate{ text-align:center; margin-top:35px;}
#hot_today,#girl_god,#boy_god{ text-align:center; display:inline-block; height:30px; margin:0 10px; border-radius:8px; line-height:29px; font-size:19px; width:25%; }
.bottom_nevigate_change{ background:#ff4466; color:#ffffff;}
#content{   top:177px; width:100%; height:800px;  }
#daohanglan{ height:30px; background-color:#000; padding-top:10px; text-align:center; }
#daohanglan td a{ text-decoration:none; color:#fff;}
#daohanglan a:horve{ color:#ff4466;}

#xiangxi{margin:0px auto;
    width:970px;
    overflow:auto;}
#xiangxi_zuoce{ float:left; margin-top:10px;width:325px; height:680px;}
#xiangxi_zhongjian{float:left;  width:540px; height:810px;
		margin-top:10px; text-align:left;margin-left:30px;}

#remaituijian{margin:0px auto;  width:1100px; height:750px;}

#biaoti{ font-size:25px; font-family:"微软雅黑"; font-weight:bolder;}
#xiangxi_zhongjian div{ margin-top:30px;width:100%;}
#xianjia{ text-align:right;}
.jiage{ float:left;}
.kucun{ color:#999; margin-left:10px;}
.pingjia{ color:#ccc; text-align:right;}
.pingjia_shuliang{ text-align:right;}
.span{ color:#999; float:left;}
.span_img{ float:left; margin-left:15px;}
#chima1{ display:inline-block; width:50px; height:20px; border:2px solid #ff8066; text-align:center;}
#chima2{ display:inline-block; width:50px; height:20px; border:1px solid #333; text-align:center;}
.jiajian .sub{display:inline; border:none; width:20px; height:20px; background:#FFF; border-radius:2px; cursor:pointer; color:#666; font-size:13px; border:1px solid #ccc;}
.lijigoumai .sub{ display:inline; border:none; width:200px; height:50px; background:#ff4066;; border-radius:2px; cursor:pointer; color:#FFF; font-size:20px; }
.jiarugouwuche .sub{display:inline; border:1px solid #ccc; width:200px; height:50px; background:#FFF;  border-radius:2px; cursor:pointer; color:#333; font-size:20px;}
.fuwu_liebiao a{ text-decoration:none; color:#999; margin-top:-10px;}
#kefu_maijia{ float:left; margin-top:-5px;}
.fuwu_liebiao a:horve{ color:#ff4466;}
.fuwu_liebiao{ margin-right:13px; float:left; margin-top:3px;}
.fuwu_img{ float:left;}
.jiage{ font-size:20px; font-family:"微软雅黑"; font-weight:bolder; color:#ff4466; float:left;}
.youhui{ font-size:14px;}
#zuoce_datupian ul{ list-style:none; margin:0px; padding:0px;}
#zuoce_datupian{ }
#zuoce_xiaotupian{ margin-top:10px; }

#head{ width:100%; text-align:right; margin:0px auto; height:30px; background-color:#f2f2f2; }
#head ul,#head ul li,#head ul li a{ margin:0px; padding:0px;}
#head ul li{ display:inline-block; list-style:none;}
#head ul li a{ color:#666666; font-size:14px; text-decoration:none;}
#head ul li a:hover{color:#0CF;}
.shuxian{border-right:1px solid #ccc;}
#sub_menu_server ul,#sub_menu_consume ul{display:none;}
#sub_menu_consume .tabmenu{ position:absolute; right:103px; top:23px; background:#f2f2f2; text-align:center; line-height:25px; width:70px; }
#sub_menu_server .tabmenu{ position:absolute; right:15px; top:23px; text-align:center; line-height:25px; width:70px; background:#f2f2f2;}
#sub_menu_consume .tabmenu li:hover,#sub_menu_server .tabmenu li:hover{ background:#ccc;}
#sub_menu{ display:inline;}
/*以上是头部css的定义*/
/*以下是搜索和logo css的定义*/
/*头部*/
#serach_and_logo{ margin:0px auto; height:147px; width:1100px;}
#left_logo{ float:left;width:300px;height:145px; }
#search{ float:left; width:500px; height:145px; }
#search_input{ margin-left:20px; margin-top:30px; padding:0px; height:25px;}
#search_btn input{ background:#222; color:#FFF;}
#search_type{ border:1px solid #90F; display:inline-block; width:50px;}
#search_nevigate{ width:450; margin-top:5px; text-align:center;}
#search_nevigate a{ font-family:"黑体"; text-decoration:none; color:#CCC; width:12%; display:inline-block;}
#search_nevigate a:hover{color:#0CF;}
/*头部结束*/
/*LOGO*/
#right_logo{ float:left; width:270px; height:145px;}
#bottom_nevigate{ text-align:center; margin-top:35px;}
#hot_today,#girl_god,#boy_god{ text-align:center; display:inline-block; height:30px; margin:0 10px; border-radius:8px; line-height:29px; font-size:19px; width:25%; }
.bottom_nevigate_change{ background:#ff4466; color:#ffffff;}
/*可变的推荐*/
#main{margin:0px auto; width:1100px;}
#content{
	margin: 0px auto;
	width: 1150px;
}
hr{ border:1px solid #ff0080; width:100%;}


/*footer*/
#footer{ width:1100px; background-color:#fff; color:#777; display:block; margin:0px auto; font-size:12px; border:1px solid #ccc; height:200px; }
.footerColor{color:#000;}
#footer_left{width:250px; float:left;  margin-top:-20px;}
#footer_right{  float:left; width:845px; height:135px; margin-top:-20px; }